@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 900;
  background-color: bisque;
}

p {
  font-size: 14px;
}

/* h1 {
    color: darkgoldenrod;
} */
 
h2 {
    font-style: italic;
}

.name {
  color: brown;
  font-size: 30px;
}

.socials {
    color: brown;
    border: 1px solid blueviolet;
}

.job {
    color: brown;
}

.message_header {
        color: brown;
}

.message {
    background-color: bisque
}

.button {
    background-color: brown;
}

#table {
  background-color: bisque;
}
